@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Roboto&display=swap');

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.joogle-logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
}

.tagline {
    font-family: 'Roboto', sans-serif;
}

.red-letter {
    color: red;
}

.blue-letter {
    color: rgb(71, 58, 255);
}

.yellow-letter {
    color: rgb(255, 182, 46);
}

.green-letter {
    color: rgb(57, 172, 107);
}